services:
  app:
    build: .
    ports:
      - "8080:80"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development

# To run Nuclei locally:
# ./tests/run-nuclei.sh
